In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Datasets/mercedes/train.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [3]:
df

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [4]:
s=0
for i in df.columns:
    print(f'{i} :{len(df[i].unique())} unique values')
    s=s+len(df[i].unique())
print(f'Total:{s}')

X1 :27 unique values
X2 :44 unique values
X3 :7 unique values
X4 :4 unique values
X5 :29 unique values
X6 :12 unique values
Total:123

In [5]:
df.X2.value_counts().head(10)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64

In [6]:
top_10_x2=[x for x in df.X2.value_counts().head(10).index]

In [7]:
top_10_x2

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [8]:
np.where(df.X2=='as')[0].mean()

2047.2157926461723

In [9]:
for label in top_10_x2:
    df[label]=np.where(df.X2==label,1,0)

In [10]:
df.head(40)

    X1  X2 X3 X4 X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0    v  at  a  d  u  j   0   0   0  0   0  0  0  0  0  0
1    t  av  e  d  y  l   0   0   0  0   0  0  0  0  0  0
2    w   n  c  d  x  j   0   0   0  0   0  0  1  0  0  0
3    t   n  f  d  x  l   0   0   0  0   0  0  1  0  0  0
4    v   n  f  d  h  d   0   0   0  0   0  0  1  0  0  0
5    b   e  c  d  g  h   0   0   0  0   0  0  0  0  0  1
6    r   e  f  d  f  h   0   0   0  0   0  0  0  0  0  1
7    l  as  f  d  f  j   1   0   0  0   0  0  0  0  0  0
8    s  as  e  d  f  i   1   0   0  0   0  0  0  0  0  0
9    b  aq  c  d  f  a   0   0   0  0   0  0  0  0  0  0
10   r   r  f  d  f  h   0   0   0  0   0  1  0  0  0  0
11   r   e  f  d  f  h   0   0   0  0   0  0  0  0  0  1
12   b  ai  c  d  f  g   0   0   1  0   0  0  0  0  0  0
13   r   e  f  d  j  h   0   0   0  0   0  0  0  0  0  1
14   s  as  e  d  j  g   1   0   0  0   0  0  0  0  0  0
15   l  ak  f  d  j  d   0   0   0  0   1  0  0  0  0  0
16   r   e  f  d  j  h   0   0   0  0   0  0  0  0  0  1
17  aa  as  c  d  j  c   1   0   0  0   0  0  0  0  0  0
18   c   m  c  d  j  d   0   0   0  1   0  0  0  0  0  0
19   a  ak  f  d  j  i   0   0   0  0   1  0  0  0  0  0
20   s   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
21  aa  as  d  d  j  j   1   0   0  0   0  0  0  0  0  0
22   r   a  b  d  j  j   0   0   0  0   0  0  0  0  0  0
23   b   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
24   r  ak  d  d  j  d   0   0   0  0   1  0  0  0  0  0
25   s   m  c  d  j  i   0   0   0  1   0  0  0  0  0  0
26   l  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
27  aa  as  c  d  j  d   1   0   0  0   0  0  0  0  0  0
28   s  as  c  d  j  c   1   0   0  0   0  0  0  0  0  0
29   b   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
30   v  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
31   e  as  c  d  j  l   1   0   0  0   0  0  0  0  0  0
32   b   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
33   s  as  d  d  j  a   1   0   0  0   0  0  0  0  0  0
34   s  as  c  d  j  j   1   0   0  0   0  0  0  0  0  0
35   b  ai  c  d  j  j   0   0   1  0   0  0  0  0  0  0
36   l  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
37   v   k  d  d  j  j   0   0   0  0   0  0  0  0  0  0
38   v  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
39   s  as  c  d  j  j   1   0   0  0   0  0  0  0  0  0

# Count/Freq Encoding

In [11]:
df=pd.read_csv('Datasets/mercedes/train.csv',usecols=['X1','X2'])

In [12]:
df

     X1  X2
0     v  at
1     t  av
2     w   n
3     t   n
4     v   n
...  ..  ..
4204  s  as
4205  o   t
4206  v   r
4207  r   e
4208  r  ae

[4209 rows x 2 columns]

In [15]:
df_freq_map=df.X2.value_counts().to_dict()

In [16]:
df.X2=df.X2.map(df_freq_map)

In [17]:
df

     X1    X2
0     v     6
1     t     4
2     w   137
3     t   137
4     v   137
...  ..   ...
4204  s  1659
4205  o    29
4206  v   153
4207  r    81
4208  r   496

[4209 rows x 2 columns]